<!DOCTYPE html>
	<html lang="pt-BR">
		<head>
			<meta charset="utf-8"/>
			<title>Notícias</title>
		</head>
	<body>
		<h1>Notícias</h1>
    <hr>

    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Título</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < notices.length; i++) { %>
          <tr>
            <td>
              <%= notices[i].id %>
            </td>
            <td>
              <%= notices[i].title %>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
	</body>
</html>