<!DOCTYPE html>
	<html lang="pt-BR">
		<head>
			<meta charset="utf-8"/>
			<title>Notícia</title>
		</head>
	<body>
		<h1>Notícia</h1>
    <hr>

    <h4><%= notice[0].title %></h4>
    <p><%= notice[0].description %></p>
	</body>
</html>